<div class="d-flex justify-content-between align-items-center">
  <h1>Assignments in <%= @course.context_title %></h1>
</div>

<table class="table table-striped text-center">
  <thead>
    <tr>
      <th></th>
      <th scope="col">Assignment</th>
      <th scope="col">Deck</th>
      <th scope="col">Number of Cards</th>
    </tr>
  </thead>
  
  <tbody>
    <% @assignments.order(:id => :desc).each do |assignment| %>
      <%= render '/assignments/assignment', course: @course, assignment: assignment %>
    <% end %>
  </tbody>

</table>