  <h1 id="<%= dom_id(@deck)%>_deck_name">Cards in
    <%= link_to "/decks/#{@deck.id}/deck_name/edit", class: "text-dark text-decoration-none", remote: true do %>
      <%= @deck.name %>
    <% end %>
  </h1>