<h1 class="text-center mb-5">
  <%= markdown(card.illustrative_test.gsub(card.target.target, "<mark>" + card.target.target + "</mark>")) %>
</h1>

<h3 class="text-center mb-5 collapse multi-collapse" id="solution">
  <%= markdown(card.solution.gsub(card.target.target, "<mark>" + card.target.target + "</mark>")) %>
</h3>

<ul class="text-center list-group list-group-flush collapse multi-collapse" id="explanation">
    <li class="list-group-item"></li>
    <li class="list-group-item"><%= markdown(card.target.explanation) %></li>
</ul>

<div class="row collapse multi-collapse" id="result">
     <button class="btn btn-danger btn-block mt-3 disabled col-6">Again</button>
     <button class="btn btn-success btn-block mt-3 disabled col-6">Good</button>
</div>  
