<h1 class="text-center mb-5">
  <%= card.illustrative_test %>
</h1>

<h3 class="text-center mb-5 collapse multi-collapse" id="solution">
  <%= card.solution %>
</h3>

<ul class="text-center list-group list-group-flush collapse multi-collapse" id="explanation">
    <li class="list-group-item"></li>
    <li class="list-group-item"><%= card.target.explanation %></li>
</ul>

<div class="row collapse multi-collapse" id="result">
     <button class="btn btn-danger btn-block mt-3 disabled col-6">Again</button>
     <button class="btn btn-success btn-block mt-3 disabled col-6">Good</button>
</div>  
