
<div class="d-flex justify-content-between align-items-center">
  <h1>Cards in <%= @deck.name %></h1>
</div>

<table class="table table-striped text-center">
  <thead>
    <tr>
      <th scope="col">Target</th>
      <th scope="col">Explanation</th>
      <th scope="col">Illustrative Test</th>
      <th scope="col">Solution</th>
      <th></th>
    </tr>
  </thead>
  
  <tbody class="table-active text-center">
    <tr>
      <%= render 'form', deck: @deck, card: @deck.cards.build %>
    </tr>
  </tbody>

  <tbody>
    <% @cards.order(:id => :desc).each do |card| %>
      <%= render 'card', deck: @deck, card: card %>
    <% end %>
  </tbody>

</table>


