    <div id="<%= dom_id(deck) %>_name">
      <%= link_to "decks/#{deck.id}/name/edit", class: "link-primary text-decoration-none", remote: true do %>
          <%= deck.name %>
      <% end %>
    </div>