<div class="d-flex justify-content-between align-items-center">
  <h1>Public Decks</h1>
</div>

<table class="table table-striped text-center">
  <thead>
    <tr>
      <th></th>
      <th scope="col">Name</th>
      <th scope="col">Number of Cards</th>
      <th scope="col">Author</th>
      <th></th>
    </tr>
  </thead>
  
  <tbody>
    <tr id="zerothPublicDeck"></tr>
    <% @decks.order(:id => :desc).each do |deck| %>
      <%= render 'public_deck', deck: deck, user: @user %>
    <% end %>
  </tbody>

</table>


